.about {
	margin-top: 75px;
	&__container {
		@include useContainer();
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		width: 50%;
	}

	&__right {
		width: 47%;
	}

	&__title {
		@include useSectionTitle();
	}

	&__img {
		max-width: 100%;
	}
}
