.clients {
	margin-top: 15px;

	&__title {
		font-size: 36px;
		margin-bottom: 20px;
		position: relative;
		font-weight: 600;
		text-align: center;

		@include tablet-lg() {
			font-size: 32px;
			margin-bottom: 15px;
		}
	}

	&__logos {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__logo {
		width: 15%;
		padding: 15px;

		@include tablet-lg() {
			width: 20%;
		}
	}
}
