.contacts {
	&__title {
		@include useSectionTitle();

		@include screen-lg() {
			font-size: 45px;
			line-height: 1.2;
		}

		@include mobile-lg() {
			font-size: 38px;
			line-height: 1.2;
		}
	}

	&-info {
		margin-bottom: 35px;

		&__link {
			text-decoration: none;
			color: currentColor;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			transition: 200ms;

			&:hover {
				color: $c-primary;
			}
		}

		&__icon {
			font-size: 25px;
			margin-right: 5px;
		}
	}
}
