.footer {
	margin-top: 75px;
	padding-bottom: 47.5px;

	&__container {
		@include useContainer();
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__img {
		width: 50%;
		transform: translateX(-35px);

		@include screen-xsm() {
			width: 100%;
			transform: none;
		}
	}

	.contacts {
		width: 40%;

		@include screen-md() {
			width: 50%;
		}

		@include screen-xsm() {
			width: 100%;
		}
	}
}
