.highlights {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

	@include tablet-md() {
		flex-wrap: wrap;
	}

	&-item {
		width: 23%;

		@include tablet-md() {
			width: 47.5%;
			margin-bottom: 30px;
		}

		@include mobile-lg {
			width: 100%;
		}

		&__title {
			display: block;
			font-size: 18px;
			font-weight: 600;
			color: $c-primary;
			margin-bottom: 5px;

			@include screen-md() {
				font-size: 16px;
				line-height: 1.5;
			}

			@include screen-xsm() {
				font-size: 14px;
			}

			@include tablet-md() {
				font-size: 17px;
			}
		}

		&__para {
			font-size: 15px;
			line-height: 1.5;

			@include screen-xsm() {
				font-size: 14px;
			}
		}
	}
}
