.navbar {
	display: flex;
	align-self: flex-end;

	&__item {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15.5px;
		margin-right: 50px;
		font-weight: 600;
		color: $c-black;
		position: relative;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background: currentColor;
			top: 100%;
			left: 0;
			transform: scaleX(0);
			transform-origin: right;

			@include useTransition();
		}

		&:hover:before {
			transition: 400ms ease-in-out;
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}
